<tr class="totals sub">
    <th class="mark" colspan="1" scope="row" data-bind="i18n: title"></th>
    <td class="amount" data-th="Subtotal">
        <span class="price" data-bind="text: getValue()"></span>
    </td>
</tr>
