<div id="popup-login" style="display:none;">
	<div id="Onepagecheckout-login-popup">
		<h1><?php echo __('Login'); ?></h1>
		<form class="form form-login"
	  action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>"
	  method="post"
	  id="login-form"
	  data-mage-init='{"validation":{}}'>
			<?php echo $block->getBlockHtml('formkey'); ?>
			<fieldset class="fieldset login" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
				<div class="field note"><?php /* @escapeNotVerified */ echo __('If you have an account, sign in with your email address.') ?></div>
				<div class="field email required">
					<label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
					<div class="control">
						<input name="login[username]" value="<?php echo $block->escapeHtml($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" data-validate="{required:true, 'validate-email':true}">
					</div>
				</div>
				<input type="hidden" name="magebees_ocp" value="1"/>
				<div class="field password required">
					<label for="pass" class="label"><span><?php /* @escapeNotVerified */ echo __('Password') ?></span></label>
					<div class="control">
						<input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?php /* @escapeNotVerified */ echo __('Password') ?>" data-validate="{required:true}">
					</div>
				</div>
				<?php echo $block->getChildHtml('form_additional_info'); ?>
				<div class="actions-toolbar">
					<div class="primary"><button type="submit" class="action login mageb-button" name="send" id="send2"><span><?php /* @escapeNotVerified */ echo __('Sign In') ?></span></button></div>
				</div>
				
				<div class="secondary"><a id="forgotform" class="action forgotform remind" href="#"><span><?php /* @escapeNotVerified */ echo __('Forgot Your Password?') ?></span></a></div>
			</fieldset>
		</form>
	</div>
    <div id="Onepagecheckout-forgot-popup" style="display:none;">
		<h1><?php echo __('Forgot Your Password'); ?></h1>
		<div id="result"> </div>
		<form class="forget" method="post" id="forgot_form">
			<fieldset class="fieldset" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
				<div class="field note"><?php /* @escapeNotVerified */ echo __('Please enter your email address below to receive a password reset link.'); ?></div>
				<div class="field email required">
					<label for="osc_email_address" class="label"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
					<div class="control">
						<input type="email" name="email" alt="email" id="osc_email_address" class="input-text">
					</div>
				</div>			
			</fieldset>
			<div class="actions-toolbar">
				<div class="primary">
					<button id="reset_password" type="button" class="action back mageb-button"><span><?php /* @escapeNotVerified */ echo __('Reset My Password') ?></span></button> &nbsp;&nbsp;
					<button id="loginback" type="button" class="action button"><span><?php /* @escapeNotVerified */ echo __('Back to Login') ?></span></button>	
				</div>
			</div>
		</form>
	</div>
</div>


<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
           //     title: 'popup mpdal title',
                buttons: [{
                    text: $.mage.__('Close'),
                    class: '',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };

            var popup = modal(options, $('#popup-login'));
            $("#opcLogin").on('click',function(){ 
                $("#popup-login").modal("openModal");
            });
			
			$("#forgotform").on('click',function(){ 
				$("#Onepagecheckout-forgot-popup").show();
				$("#Onepagecheckout-login-popup").hide();
			
			}); 
			$("#loginback").on('click',function(){ 
				$("#Onepagecheckout-forgot-popup").hide();
				$("#Onepagecheckout-login-popup").show();
			
			}); 
			
			var url = "<?php echo $block->getUrl('Onepagecheckout/index/forgotpassword'); ?>";
			
			
			$('#forgot_form').on('click', '#reset_password', function(event){
				var email = document.getElementById("osc_email_address").value;
				//alert(email);
				
				if(!email){
					alert("Please enter your email.");
					return;
				}
				
				if(isEmail(email)) { 
					$.ajax({
						url : url,
						data: { email : email },
						dataType: 'json',
						type: 'get',
						showLoader:true,
						success: function(data){
							$('#result').html(data);
						}
					});
				}else{
					alert("Please enter a valid email address (Ex: johndoe@domain.com).");
					return false;
				}
				
			  	
			});
		
			

        }		
    );
	
	function isEmail(email) {
	  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
	  return regex.test(email);
	}
</script>



