<?php $helperConfig = $this->helper('Magebees\Onepagecheckout\Helper\Configurations'); ?>
<?php $helperData = $this->helper('Magebees\Onepagecheckout\Helper\Data'); ?>
<script type='text/javascript'>
    require([
        'Magebees_Onepagecheckout/js/model/addressFieldManager'
    ], function(addressFieldManager) {
        addressFieldManager.init(<?php echo $helperConfig->getAddressFieldsJsonConfig(); ?>);
    })
</script>

<div class="mageb-checkout-title">
    <h1><?php echo $helperConfig->getCheckoutTitle(); ?></h1>
    <p><?php echo $helperConfig->getCheckoutDescription(); ?></p>
</div>

<?php if($helperData->isLoggedIn()) : ?>
    <div class="sign-in-btn"><a href="<?php echo $block->getUrl('customer/account/logout/'); ?> id="opcLogout" class='action mageb-button'><span><?php echo __('Sign Out'); ?></span></a></div>
<?php else : ?>
	<?php if($helperConfig->getSignInSettings()){ ?>
		<?php if($helperConfig->getLoginMsg()){ ?>
			<div class="sign-in-btn"><a href="#" id="opcLogin" class='action mageb-button'><span><?php echo __($helperConfig->getLoginMsg()); ?></span></a></div>
		<?php }else{ ?>
			<div class="sign-in-btn"><a href="#" id="opcLogin" class='action mageb-button'><span><?php echo __("Sign In"); ?></span></a></div>
		<?php } ?>
	<?php } ?>
<?php endif; ?>

<style>
<?php
if(!$helperConfig->enableDifferentBillingAddress()){ ?>
.checkout-payment-method .checkout-billing-address{display:none;}
<?php } ?>
.magebees-onepage-checkout-container .opc-wrapper .step-title { color:<?php echo $helperConfig->getTitleFontColors(); ?> !important; background-color:<?php echo $helperConfig->getTitleBgColors(); ?> !important; }
#oscSummary .oscSummaryTitle { color:<?php echo $helperConfig->getTitleFontColors(); ?> !important; background-color:<?php echo $helperConfig->getTitleBgColors(); ?> !important; }
.mageb-button, .mageb-osc .checkout, #place-order-trigger { color:<?php echo $helperConfig->getButtonFontColors(); ?> !important; background-color:<?php echo $helperConfig->getButtonBgColors(); ?> !important; border:0 none !important; -webkit-box-shadow:none !important; box-shadow:none !important;
	transition:all 0.5s ease-in-out 0s; -moz-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; font: 600 12px/1.35 Open Sans, Helvetica Neue, Verdana, Arial, sans-serif;}
.mageb-button:focus, .mageb-button:hover, .mageb-osc .checkout:hover, .mageb-osc .checkout:focus { opacity:0.8; border:0 none !important; -webkit-box-shadow:none !important; box-shadow:none !important; }
.magebees-billing-address-details{display:none;}
</style>

<div id="checkout" data-bind="scope:'checkout'" class="magebees-onepage-checkout-container checkout-container mageb-osc">
    <div id="checkout-loader" data-role="checkout-loader" class="loading-mask" data-mage-init='{"checkoutLoader": {}}'>
        <div class="loader">
            <img src="<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-2.gif'); ?>"
                 alt="<?php /* @escapeNotVerified */ echo __('Loading...'); ?>"
                 style="position: absolute;">
        </div>
    </div>
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#checkout": {
                "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
            }
        }
    </script>
    <script>
        window.checkoutConfig = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getCheckoutConfig()); ?>;
        // Create aliases for customer.js model from customer module
        window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
        window.customerData = window.checkoutConfig.customerData;
    </script>
    <script>
        require([
            'mage/url',
            'Magento_Ui/js/block-loader'
        ], function(url, blockLoader) {
            blockLoader("<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-2.gif'); ?>");
            return url.setBaseUrl('<?php /* @escapeNotVerified */ echo $block->getBaseUrl();?>');
        })
    </script>
</div>
<script>
require(['jquery', 'jquery/ui'], function($){
    $(document).ready(checkContainer);
        function checkContainer () {
          if($('.mageship').is(':visible')){ //if the container is visible on the page
            $('.mageship').eq(0).trigger('click');
          } else {
            setTimeout(checkContainer, 2000); //wait 50 ms, then try again
          }
        }
});
</script>
<script type="text/javascript">
	require(['jquery'],function($){
		$(document).ready(function() {
			if($('.magebees-billing-address-details').is(':visible')){
				$('.magebees-billing-address-details').hide();
			}
		});
		$(document).on('click', '#billing-address-same-as-shipping-checkmo', function(){
			if ($(this).is(":checked")) {
				$(".magebees-billing-address-details").hide();
			} else {
				$(".magebees-billing-address-details").show();
			}
		});
	});
</script>
