// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files
//  Layout grid
//  ---------------------------------------------
@layout__max-width: 100%;
@layout-indent__width: 10px;
@total-columns: 24;

//  Variables for layout columns
@layout-column__sidebar-width: 6;

//  Checkout columns width
@layout-column-checkout__width-left: 8;

// Checkout
@checkout-sidebar__columns: 8;

.checkout-payment-method {
    .payment-method-content {
        .fieldset > .field {
            margin: 0;
            margin-right: 5px;
        }
    }
}
