<!-- ko if: isShowComment() -->
<div class="Onepagecheckout-comment">
    <textarea col="15" name="billing[Onepagecheckout_comment]" id="Onepagecheckout_comment"
              class="osc-additional-data" data-bind="attr: {placeholder: $t('Leave your comment')}"></textarea>
</div>
<!-- /ko -->