<!-- ko if: visible -->
    <div class="field newsletter-check">
        <div class="control">
                <input class="input-text" type="checkbox" data-bind="textInput: 1, checked: checked" name="newsletter-subscribe" id="newsletter-subscribe" />
                       
                <label class="label" for="newsletter-subscribe">
                    <span data-bind="i18n: checkoutLabel"></span>
                </label>
        </div>
    </div>
<!-- /ko -->
