@color_1: #333;

.um-descr-show-button {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	color: @color_1;
	background: url(../Ulmod_Readmoreless/images/plus.png) no-repeat 5px center #eee;
	padding-left: 25px;
	background-size: 15px;
	text-align: right;
	border-radius: 3px;
	text-decoration: none;
	box-shadow: 0px 0.1px 3px 0 rgba(0,0,0,0.15);
	margin-top: 5px;
	display: block;
	width: fit-content;
	margin-bottom: 20px;
}
.um-descr-hide-button {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	color: @color_1;
	background: url(../Ulmod_Readmoreless/images/minus-line.png) no-repeat 5px center #eee;
	padding-left: 25px;
	background-size: 15px;
	text-align: right;
	border-radius: 3px;
	text-decoration: none;
	box-shadow: 0px 0.1px 3px 0 rgba(0,0,0,0.15);
	display: block;
	width: fit-content;
	margin-bottom: 20px;
}
[data-readmore] {
	position: relative;
	&:before {
		content: '';
		width: 100%;
		height: 0;
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 1));
	}
}
[data-readmore][aria-expanded="false"] {
	&:before {
		height: 55px;
	}
}
[data-readmore][aria-expanded="true"].transitioning {
	&:before {
		height: 55px;
	}
}
[data-readmore][aria-expanded="false"].transitioning {
	&:before {
		height: 0;
	}
}
